.statusInformation{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Text/Dark */

    color: #3C3C3C;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    text-transform: capitalize;
}