.type{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2px 8px;

    max-width: 72px;
    width: auto !important;
    height: 28px;

    /* Green 1 */
    border-radius: 3px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        // text-transform: lowercase !important;
    }
}