#geocoder {
    z-index: 1;
    // margin: 20px;
    min-width: 100%;
    border: 1px solid #686868 !important;
    border-radius: 3px !important;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100% !important;;
}
.mapboxgl-ctrl{
    min-width: 100% !important;;
}

.mapboxgl-ctrl-geocoder--input{
    width: 100% !important;
}
.geocoder-outer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 24px;
}