.rainbow-align-content_center{
    width: 328px;
    height: 48px;
    margin-bottom: 32px;
    label{
        align-self: flex-start;
    }
    input{
        border: 1px solid #686868 !important;
        border-radius: 3px !important;
        span{
            display: none !important;
        }
    }
}