.event{
    background-color: #FFFFFF;
    position: relative;
    // left: 64px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

.eventOutter{
    width: 100%;
    padding: 80px 148px 120px 86px;
}

.loading{
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: rgba(86, 84, 238, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        // border: 1px solid black;
        color: white;
        width: 120px;
        height: 120px;
    }
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    h1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        /* identical to box height */
        display: flex;
        align-items: center;
        /* Text/Dark */
        color: #3C3C3C; 
    }
    a{
        font-family: 'Poppins' !important;
        font-style: normal;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 24px;
        /* identical to box height */
        color: #006DFF !important;
        cursor: default;
    }
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        display: flex;
        align-items: center;
        color: #3C3C3C;
    }
    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #686868;
    }
}

.bodyRewards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        display: flex;
        align-items: center;
        color: #3C3C3C;
    }
    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #686868;
    }
}

.form{
    max-width: 668px;
    width: 100%;
}

.divider{
    border: 1px solid #D9D9D9;
    margin: 48px 0;
    width: 100%;
}

.dateSection{
    display: flex;
    flex-direction: row;
}

.dateInput{
    margin-left: 12px !important;
}

.customInputSize{
    width: 328px !important;
}

.bottomNavigation{
    
    box-sizing: border-box;
    position: fixed;

    width: calc(100% - 298px);
    height: 80px;
    left: 298px;
    bottom: 0px;
    /* White */

    background: #FFFFFF;
    /* Gray2 */
    border-top: 1px solid #F2F2F2;
    padding-left: 88px;
    padding-top: 16px;
    z-index: 100;
}

.bottomNavigationOuter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 668px;

    a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        /* Error/Red */

        color: #E31111;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    width: auto;
    height: 48px;

    /* Blue */

    background: #2F80ED;
    border-radius: 5px !important;

    span{
        width: auto;
        height: 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
    }

}

@media only screen and (max-width: 768px) {
    .bodyRewards{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 120px;
        h3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 48px;
            display: flex;
            align-items: center;
            color: #3C3C3C;
        }
        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #686868;
        }
    }
    .event{
        background-color: #FFFFFF;
        position: relative;
        width: calc(100% - 72px);
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
    }
    .eventOutter{
        width: 100%;
        padding: 24px 32px 0 24px !important;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        h1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            /* identical to box height */
            display: flex;
            align-items: center;
            /* Text/Dark */
            color: #3C3C3C; 
        }
        a{
            font-family: 'Poppins' !important;
            font-style: normal;
            font-weight: 600 !important;
            font-size: 16px !important;
            line-height: 24px;
            /* identical to box height */
            color: #006DFF !important;
            cursor: default;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 120px;
        // height: auto !important;
        h3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 40px;
            display: flex;
            align-items: center;
            color: #3C3C3C;
        }
        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #686868;
        }
    }
    .form{
        max-width: 668px;
        width: 100% !important;
    }
    .divider{
        border: 1px solid #D9D9D9;
        margin: 48px 0;
        width: 100%;
    }
    .promo{
        margin-bottom: 120px;
    }
    .dateSection{
        display: flex;
        flex-direction: column;
        &:last-child{
            margin-bottom: 120px;
        }
    }
    .dateInput{
        margin-left: 0 !important;
        
    }
    .customInputSize{
        width: 328px !important;
    }
    .optionSelection{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        width: 100%;
        button{
            width: 100% !important;
            max-width: 100% !important;
            min-width: 100% !important;

        }
        span{
            margin-top: 12px;
            margin-left: 0 !important;
        }
    }
    .bottomNavigation{
        
        box-sizing: border-box;
        position: fixed;
        max-width: 100%;
        width: 100% !important;
        height: 80px;
        left: 0;
        bottom: 0px;
        /* White */
    
        background: #FFFFFF;
        /* Gray2 */
        border-top: 1px solid #F2F2F2;
        padding-left: 96px;
        padding-top: 16px;
        padding-right: 32px;
        z-index: 100;
    }
    .bottomNavigationOuter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 668px;
    
        a{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */
    
            display: flex;
            align-items: center;
            text-align: center;
    
            /* Error/Red */
    
            color: #E31111;
    
    
            /* Inside auto layout */
    
            flex: none;
            order: 0;
            flex-grow: 0;
            border: none !important;
        }
    }
    .button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 32px;
    
        width: auto;
        height: 48px;
    
        /* Blue */
    
        background: #2F80ED;
        border-radius: 5px !important;
    
        span{
            width: auto;
            height: 24px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */
    
            display: flex;
            align-items: center;
            text-align: center;
    
            color: #FFFFFF;
        }
    
    }
}