.event{
    position: relative;
    // left: 64px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    background-color: white;
}

.eventOutter{
    width: 100%;
    padding: 80px 148px 0 86px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        /* identical to box height */
        display: flex;
        align-items: center;
        /* Text/Dark */
        color: #3C3C3C; 
    }
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 84px;
}