.event{
    position: relative;
    // left: 64px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    background-color: white;
}

.eventOutter{
    width: 100%;
    padding: 80px 148px 0 86px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        /* identical to box height */
        display: flex;
        align-items: center;
        /* Text/Dark */
        color: #3C3C3C; 
    }
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 84px;
}

.noEvent{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        max-width: 350px;
        height: auto;
    }
    h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        display: flex;
        align-items: center;
        color: #3C3C3C;
        margin-top: 16px;
    }
    a{
        margin-top: 24px !important;
        max-width: 250px !important;
    }
}

@media only screen and (max-width: 768px) {
    .event{
        position: relative;
        // left: 64px;
        width: calc(100% - 64px);
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
        background-color: white;
    }
    
    .eventOutter{
        width: 100%;
        padding: 24px 32px 0 24px !important;
    }
    
    .header{
        width: (calc - 64px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            /* identical to box height */
            display: flex;
            align-items: center;
            /* Text/Dark */
            color: #3C3C3C; 
        }
    }
    
    .body{
        display: flex;
        flex-direction: column;
        justify-content: star;
        align-items: flex-start;
        margin-top: 48px;
        overflow-x: auto;
        td{
            min-width: 100% !important;
            
            &:nth-child(3n){
                min-width: 200px !important;
            }
            &:first-child{
                min-width: 450px !important;
            }
        }
    }
    
    .noEvent{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            min-width: 80%;
            max-width: 100% !important;
            height: 100% !important;
        }
        h3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #3C3C3C;
            margin-top: 16px;
        }
        a{
            margin-top: 24px !important;
            max-width: 250px !important;
        }
    }
}