.side-profile{
    border: 1px solid black;
    position: absolute;
    width: 450px;
    height: 100vh;
    top: 0;
    right: 0;
    margin: 0;
    background: white !important;
    padding-top: 24px;
    overflow: scroll;
}

