.side-profile{
    position: absolute;
    width: 450px;
    height: calc(100vh - 64px);
    top: 64px;
    right: 0;
    margin: 0;
    background: white !important;
    padding-top: 24px;
    overflow: scroll;
}

