.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container {
  height: 100vh;
  width: 100% !important;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 64px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-nav {
  background-color: rgba(35, 55, 75, 0.9) !important;
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  /* border: 1px solid black; */
}
.nav-item{
  margin: 0 8px;
}

.card{
  /* width: 50%; */
  padding: 24px;
  max-width: 600px;
  min-width: 400px;
  width: 100%;
}

html, .container, body{
  background: #343A40 !important;
}

.page{
  border: 1px solid black;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.no-margin{
  margin-bottom: 0 !important;
}

.profile{

  /* border: 1px solid black; */
  margin-top: 84px;
  padding: 32px 24px 24px 32px;
  background: white !important;
  border-radius: 12px;
}
#map canvas {
  cursor: default;
}
#features {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  overflow: auto;
  height: 300px;
  background-color: rgba(35, 55, 75, 0.9) !important;
  font-size: 10px;
  color: white;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup{
  width: 140px !important;
}
.mapboxgl-popup-tip{
  font-size: 24px;
}
.mapboxgl-popup-content{
  font-size: 16px;
}
.mapboxgl-popup-close-button{
}

.is-active{
  color: white !important;
}