.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 94vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container {
  height: 94.5vh;
  width: 100% !important;
}
/* 
.sidebar {
  border-radius: 12px;
  background-color: rgba(214, 214, 214, 0.474);
  color: rgb(0, 0, 0);
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 12px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.sidebar-nav {
  background-color: rgba(35, 55, 75, 0.9) !important;
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
.nav-item{
  margin: 0 8px;
}

.card{
  /* width: 50%; */
  padding: 24px;
  max-width: 600px;
  min-width: 400px;
  width: 100%;
}

.page{
  border: 1px solid black;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.no-margin{
  margin-bottom: 0 !important;
}

.profile{
  /* border: 1px solid black; */
  margin-top: 84px;
  padding: 32px 24px 24px 32px;
  background: white !important;
  border-radius: 12px;
}

#map canvas {
  cursor: default;
}

#features {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  overflow: auto;
  height: 300px;
  background-color: rgba(35, 55, 75, 0.9) !important;
  font-size: 10px;
  color: white;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup{
  width: 140px !important;
}

.mapboxgl-popup-tip{
  font-size: 24px;
}

.mapboxgl-popup-content{
  font-size: 16px;
}

.is-active{
  color: white !important;
}

.test{
  margin-top: 84px;
  padding: 32px 24px 24px 32px;
  background: white !important;
  border-radius: 12px;
  height: 900px;
}

.login-button{
  padding: 12px 32px !important;
  width: auto;
  height: 48px;
  background: #2F80ED;
  border-radius: 5px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF !important;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.register-button{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: red !important;
}